body {
  height: 100%;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.3px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-weight: 300;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-weight: 300;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-weight: 300;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-weight: 300;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-weight: 300;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-weight: 300;
}

p {
  margin-bottom: 0px;
  line-height: 130%;
  letter-spacing: 0.4px;
}

a {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  line-height: 130%;
  font-weight: 300;
  text-decoration: none;
}

.styles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  margin-left: 20px;
  padding: 10px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.spacer-100 {
  width: 100%;
  height: 100px;
}

.spacer-100._100-wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rule {
  width: 50%;
  height: 1px;
  background-color: #000;
}

.link {
  padding: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  color: #d3d4d4;
  font-size: 16px;
  font-weight: 600;
}

.link:hover {
  color: #8f00ff;
}

.link.w--current {
  color: #000;
}

.link.black-color {
  -webkit-transition-property: color;
  transition-property: color;
  color: #000;
  cursor: pointer;
}

.link.black-color:hover {
  color: #8f00ff;
}

.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-horizontal.flex-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-horizontal.flex-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-horizontal.flex-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-horizontal.flex-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-horizontal.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-horizontal.space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-vertical.flex-left {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-vertical.flex-right {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-vertical.flex-top {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-vertical.flex-bottom {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-vertical.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-vertical.space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-vertical.stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-fix {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.white-text {
  color: #fff;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.underlined {
  text-decoration: underline;
}

.background-purple {
  background-color: #8f00ff;
}

.background-blue {
  background-color: #00f;
}

.background-red {
  background-color: red;
}

.header-primary {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 4.5vw;
  line-height: 110%;
  letter-spacing: 1px;
}

.header-secondary {
  max-width: 100%;
  font-size: 27px;
  letter-spacing: 1px;
}

.header-quaternary {
  max-width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
}

.body {
  line-height: 140%;
}

.grey-text {
  color: #d3d4d4;
}

.header-tertiary {
  max-width: 100%;
  color: #000;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 1px;
}

.inline-link {
  color: #00f;
}

.sentence-case {
  text-transform: none;
}

.cms-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-bottom: 80px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.icon {
  height: 3.8vw;
}

.show-svp {
  display: none;
}

.accordion {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 30vh;
  max-height: 90vh;
  min-height: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-bottom: 1px solid #d3d4d4;
  box-shadow: none;
  -webkit-transition: box-shadow 750ms ease, border-color 750ms ease;
  transition: box-shadow 750ms ease, border-color 750ms ease;
}

.accordion:hover {
  z-index: 2;
  box-shadow: 0 10px 40px 30px rgba(211, 212, 212, 0.4);
}

.accordion.hidden {
  display: none;
}

.accordion.open {
  height: 90vh;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.large-image {
  width: 100%;
  height: 100vh;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.brands-and-experiences {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.brands-and-experiences:hover {
  color: #00f;
}

.story-tellers {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.story-tellers:hover {
  color: #f24130;
}

.pointer {
  cursor: pointer;
}

.black-text {
  color: #000;
  font-weight: 800;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  max-height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 100%;
  padding: 2.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 1px solid #d3d4d4;
  background-color: #fff;
}

.accordion-container {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100%;
  padding-top: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav {
  position: fixed;
  left: 150px;
  top: 0px;
  right: 0px;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 10vh;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff;
}

.accordion-toggle {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 30vh;
  max-height: 30vh;
  min-height: 30vh;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-toggle.w--open {
  height: 30vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.accordion-content {
  position: relative;
  z-index: 1;
  display: block;
  overflow: visible;
  width: 100%;
  height: auto;
  max-height: 90vh;
  min-height: 0vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  -webkit-transition: height 750ms ease;
  transition: height 750ms ease;
}

.accordion-content.w--open {
  height: auto;
  min-height: 30vh;
  background-color: transparent;
}

.accordion-header {
  font-size: 6vw;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.2vw;
}

.accordion-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 5vw;
  padding: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d4d4;
  border-radius: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-icon:hover {
  border-color: #8f00ff;
}

.icon-line-static {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.accordion-content-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 100%;
  height: auto;
  padding: 2.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.break-normal {
  line-height: 140%;
  white-space: normal;
}

.icon-line {
  position: absolute;
  top: 1vw;
  bottom: 1vw;
  width: 2px;
  height: auto;
  background-color: #000;
}

.accordion-toggle-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d3d4d4;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.nav-item:hover {
  color: #8f00ff;
}

.nav-item.w--current {
  color: #000;
}

.nav-menu-list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-item-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d3d4d4;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.nav-item-copy.w--current {
  color: #000;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.background-blur {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.81;
}

.accordion-title-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 20px;
  height: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.accordion-vertical-label {
  position: absolute;
  right: -25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 100%;
  font-weight: 700;
}

.accordion-vertical-label.secondary {
  position: relative;
  right: 0px;
  margin-bottom: 0px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d3d4d4;
}

.accordion-vertical-label.secondary:hover {
  color: #8f00ff;
}

.content-subnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.spacer-15 {
  width: 100%;
  height: 15px;
}

.content-subnav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blur-bl {
  position: fixed;
  left: 3%;
  top: auto;
  right: auto;
  bottom: 10%;
  z-index: 200;
  width: 17.5vw;
  opacity: 0.75;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.accordion-content-scroll-trigger {
  position: absolute;
  left: auto;
  top: 2.5vw;
  right: 0%;
  bottom: 2.5vw;
  width: 20px;
  height: 100%;
  min-height: 100%;
}

.blur-tr-container {
  position: fixed;
  left: auto;
  top: 10vh;
  right: 0%;
  bottom: auto;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 20vw;
  height: 80vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.7;
  -webkit-filter: blur(45px);
  filter: blur(45px);
}

.blur-tr {
  position: relative;
  z-index: 200;
  width: 20vw;
  height: 80vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.brand {
  position: absolute;
  bottom: 2.5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-property: none;
  transition-property: none;
}

.brand-logo {
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
  -webkit-transform: translate(0px, 5%);
  -ms-transform: translate(0px, 5%);
  transform: translate(0px, 5%);
  -o-object-fit: contain;
  object-fit: contain;
}

.brand-logo-background {
  position: absolute;
  z-index: 0;
  width: 5vw;
  height: 5vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20vw;
  background-color: #000;
  background-image: url('../images/apematch.png');
  background-position: 0px 0px;
  background-size: cover;
}

.blur-tm {
  position: fixed;
  left: 55%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 200;
  width: 8vw;
  opacity: 0.7;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

.rich-text h2 {
  margin-bottom: 10px;
}

.rich-text h4 {
  margin-bottom: 10px;
}

.rich-text p {
  margin-bottom: 20px;
}

.accordion-content-wrap {
  position: relative;
  width: 100%;
  height: auto;
}

.accordion-content-jump {
  position: absolute;
  left: 0%;
  top: -30vh;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 30px;
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header-primary {
    font-size: 5.5vw;
  }

  .icon {
    height: 5vw;
  }

  .sidebar {
    display: none;
  }

  .nav {
    left: 0px;
    right: 0px;
    width: 100%;
  }

  .accordion-content-grid {
    grid-row-gap: 3vw;
  }

  .content-subnav-sticky {
    top: 32.5vh;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .link {
    margin-right: 0px;
    margin-left: 0px;
  }

  .flex-horizontal.flex-right.z-100 {
    position: relative;
    z-index: 100;
  }

  .header-primary {
    font-size: 7vw;
  }

  .header-secondary {
    font-size: 24px;
  }

  .body {
    min-height: 600px;
  }

  .header-tertiary {
    font-size: 18px;
  }

  .cms-item {
    overflow: visible;
    padding-bottom: 50px;
  }

  .icon {
    height: 6.5vw;
  }

  .hide-svp {
    display: none;
  }

  .show-svp {
    display: block;
  }

  .accordion {
    height: 25vh;
    max-height: 80vh;
  }

  .accordion:hover {
    box-shadow: none;
  }

  .large-image {
    height: 60vh;
  }

  .accordion-container {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }

  .nav {
    z-index: 10000;
    height: 10%;
  }

  .accordion-toggle {
    height: 25vh;
    max-height: 25vh;
    min-height: 25vh;
  }

  .accordion-toggle.w--open {
    height: 25vh;
  }

  .accordion-header {
    font-size: 45px;
  }

  .accordion-icon {
    width: 44px;
    height: 44px;
    padding: 10px;
  }

  .accordion-content-grid {
    padding-right: 30px;
    padding-left: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .icon-line {
    top: 10px;
    bottom: 10px;
  }

  .accordion-toggle-grid {
    padding-right: 30px;
    padding-left: 30px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .nav-menu {
    top: 0px;
    z-index: 0;
    height: auto;
    padding-top: 0vh;
    background-color: #fff;
    box-shadow: 7px 7px 40px 30px #d3d4d4;
  }

  .nav-menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-grid {
    position: relative;
    z-index: 20;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    padding-left: 15px;
  }

  .content-subnav {
    height: auto;
  }

  .content-subnav-sticky {
    top: 0px;
  }

  .blur-tr-container {
    width: 50vw;
  }

  .blur-tr {
    width: 50vw;
  }

  .nav-menu-button {
    padding: 15px;
  }

  .nav-menu-button.w--open {
    z-index: 100;
  }

  .accordion-content-jump {
    top: -25vh;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header-primary {
    font-size: 8vw;
  }

  .icon {
    height: 8vw;
  }

  .accordion.open {
    height: 80vh;
  }

  .large-image {
    height: 50vh;
  }

  .accordion-header {
    font-size: 40px;
  }

  .accordion-icon {
    width: 40px;
    height: 40px;
  }

  .accordion-content-grid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .accordion-toggle-grid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-menu-list {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-grid {
    padding-right: 15px;
    padding-left: 0px;
  }

  .content-subnav-sticky {
    position: relative;
    top: 0vh;
  }

  .blur-tr-container {
    top: 30vh;
    height: 60vh;
  }

  .blur-tr {
    height: 60vh;
  }
}

#w-node-_035c1ade-4af2-f21d-23b0-d3fa40f84f56-bc9c83bd {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 4;
  grid-column-end: 11;
}

#w-node-_65281f27-439a-9713-e107-c1482623c83c-bc9c83bd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_4f90d500-371a-3073-bba8-16727dc71972-bc9c83bd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_2e2465fb-b5b0-c7bf-54a3-3936e3bfebd9-bc9c83bd {
  -ms-grid-column-span: 1;
  grid-column-end: 10;
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b44023e5-6a0f-b717-8ab3-aeca203d1c53-bc9c83bd {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-fceac0bf-94b6-97e1-8a5d-868826977aed-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_58a04d8b-bc2b-a03c-9a5f-3b1a408feb09-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_25514d28-357c-d07e-d660-a04cdaeeb515-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafeef-bc9c83bd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef2-bc9c83bd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef4-bc9c83bd {
  -ms-grid-column-span: 1;
  grid-column-end: 10;
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9550-bc9c83bd {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f955a-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9575-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9590-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f36-bc9c83bd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f39-bc9c83bd {
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f3b-bc9c83bd {
  -ms-grid-column-span: 1;
  grid-column-end: 10;
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_5fbd6439-1795-45e4-2163-90219120b1f5-bc9c83bd {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-_5fbd6439-1795-45e4-2163-90219120b1ff-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_5fbd6439-1795-45e4-2163-90219120b21a-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_5fbd6439-1795-45e4-2163-90219120b235-bc9c83bd {
  -ms-grid-column-span: 6;
  grid-column-end: 9;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

@media screen and (max-width: 991px) {
  #w-node-_65281f27-439a-9713-e107-c1482623c83c-bc9c83bd {
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_4f90d500-371a-3073-bba8-16727dc71972-bc9c83bd {
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_2e2465fb-b5b0-c7bf-54a3-3936e3bfebd9-bc9c83bd {
    -ms-grid-column-span: 1;
    grid-column-end: 11;
    -ms-grid-column: 10;
    grid-column-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafeef-bc9c83bd {
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef2-bc9c83bd {
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef4-bc9c83bd {
    -ms-grid-column-span: 1;
    grid-column-end: 11;
    -ms-grid-column: 10;
    grid-column-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f36-bc9c83bd {
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f39-bc9c83bd {
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f3b-bc9c83bd {
    -ms-grid-column-span: 1;
    grid-column-end: 11;
    -ms-grid-column: 10;
    grid-column-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_035c1ade-4af2-f21d-23b0-d3fa40f84f56-bc9c83bd {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
  }

  #w-node-_4f90d500-371a-3073-bba8-16727dc71972-bc9c83bd {
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_2e2465fb-b5b0-c7bf-54a3-3936e3bfebd9-bc9c83bd {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-b44023e5-6a0f-b717-8ab3-aeca203d1c53-bc9c83bd {
    -ms-grid-column-span: 11;
    grid-column-end: 11;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
  }

  #w-node-fceac0bf-94b6-97e1-8a5d-868826977aed-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_58a04d8b-bc2b-a03c-9a5f-3b1a408feb09-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_25514d28-357c-d07e-d660-a04cdaeeb515-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef2-bc9c83bd {
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef4-bc9c83bd {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9550-bc9c83bd {
    -ms-grid-column-span: 11;
    grid-column-end: 11;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
  }

  #w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f955a-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9575-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9590-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f39-bc9c83bd {
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f3b-bc9c83bd {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_5fbd6439-1795-45e4-2163-90219120b1f5-bc9c83bd {
    -ms-grid-column-span: 11;
    grid-column-end: 11;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
  }

  #w-node-_5fbd6439-1795-45e4-2163-90219120b1ff-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_5fbd6439-1795-45e4-2163-90219120b21a-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_5fbd6439-1795-45e4-2163-90219120b235-bc9c83bd {
    -ms-grid-column-span: 10;
    grid-column-end: 11;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_035c1ade-4af2-f21d-23b0-d3fa40f84f56-bc9c83bd {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 9;
    grid-column-end: 11;
  }

  #w-node-_4f90d500-371a-3073-bba8-16727dc71972-bc9c83bd {
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-b44023e5-6a0f-b717-8ab3-aeca203d1c53-bc9c83bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 10;
    grid-column-start: span 10;
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }

  #w-node-_20fe2dcb-6ada-d7e0-6734-77a047eafef2-bc9c83bd {
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-ee7239bd-55ef-8d37-64ab-1fe6d97f9550-bc9c83bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 10;
    grid-column-start: span 10;
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }

  #w-node-_1a8808b5-a968-5239-ff5a-a5f61bf67f39-bc9c83bd {
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_5fbd6439-1795-45e4-2163-90219120b1f5-bc9c83bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 10;
    grid-column-start: span 10;
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }
}

@font-face {
  font-family: 'Fontawesome Brands';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}